#nav1{
	height: 60px;
	border: 3px solid #E3E3E3
	margin-top: 20px;
	text-shadow: 0.1em 0.1em #333;
}

#navi1{
	list-style: none;
}

#navi1 ul{
	margin: 0;
	padding: 0;
	width: auto;
	display: none;
}

#navi1 li{
	font-size: 24px;
	float: left;
	position: relative;
	width: 180px;
	height: 50px;
}

#navi1 a:link, nav a:active, nav a:visited{
	display: block;
	color: #fff;
	text-decoration: none;
}

#navi1 a:hover{
	color: blue;
}